<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hfad.mytestmapgps" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--
        The ACCESS_COARSE/FINE_LOCATION permissions are not required to use Google Maps Android API v2, but are recommended.
        If your app needs to access the user's location, you must request permission by adding the relevant Android location permission to your app.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- The Google Maps Android API uses OpenGL ES version 2 to render the map. If OpenGL ES version 2 is not installed, your map will not appear. -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>
    <!--
        meta1: Specify the Google Play services version number
        meta2: Specify your API key
        Intent Service: The getFromLocation() method provided by the Geocoder class accepts a latitude and longitude, and returns a list of addresses. The method is synchronous, and may take a long time to do its work,
            The IntentService class provides a structure for running a task on a background thread.
    -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="GRAPHHOPPER_API_KEY"
            android:value="3e9586a0-2a0b-4f3f-a081-365d4dadd0b0"/>
        <meta-data
            android:name="MAPQUEST_API_KEY"
            android:value="xROp12Z8UGXeiitr5POqYVos4vKY6qvC"/>
        <meta-data
            android:name="FLICKR_API_KEY"
            android:value="4ee7fded134e58e9d86416a14b525c78"/>
        <meta-data
            android:name="GEONAMES_ACCOUNT"
            android:value="p7157568"/>

        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".FetchAddressIntentService"
            android:exported="false"/>

    </application>

</manifest>
